<div id="sidebarId" class="position-relative d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar">
  <span style="right: 10px; top: 18px" class="position-absolute">
    <button class="btn p-1 me-2 d-none d-md-block" onclick="toggleSidebar()">
      <i class="bi bi-x-circle"></i>
    </button>
  </span>

  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="bi bi-archive"></i>
    <span class="fs-4 sidebar-text mt-1">CRUD System</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/dashboard" class="nav-link text-white <%= currentPage == "dashboard" ? "active" : "" %>"
        aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        <span class="sidebar-text"> Home </span>
      </a>
    </li>

    <li>
      <a href="/customer/add" class="nav-link text-white <%= currentPage == "add" ? "active" : "" %>">
        <svg class="bi pe-none me-2" width="16" height="16">
          <use xlink:href="#people-circle" />
        </svg>
        <span class="sidebar-text"> Add Customers </span>
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="<%= user.profileImage || " img/logo.png" %>" alt="" width="32" height="32" class="rounded-circle me-2"
      />
      <strong class="sidebar-text">
        <%= user.username %>
      </strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <!-- trigger modal -->
      <li><a class="dropdown-item " href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Profile</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="/signout">Sign out</a></li>
    </ul>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form action="/update_profile" method="post" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              <%= user.username %>
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex justify-content-center flex-column p-3">
            <p>Change Your Image :</p>
            <div class="d-flex flex-row justify-content-between align-items-center">
              <button type="button" class="btn btn-primary" style=":hover{cursor: pointer;}">
                <i class="bi bi-plus-lg"></i>
                <label for="imageInput">Upload Image</label>
                <input name="avatar" type="file" value="Change Image.." id="imageInput" style="display: none;">
              </button>
              <img width="75" height="75" src="<%= user.profileImage || " img/logo.png" %>" alt="Profile Image"
              class="rounded-circle" id="myImg">
            </div class="d-flex flex-row justify-content-center align-items-center">
            <p class="text-danger" id="imgDanger"></p>
            <hr>
            <p>Email : <%= user.email %>
            </p>
            <p>Since : <%= moment(user.createdAt).format("LLL")%>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
<div class="b-example-divider b-example-vr"></div>
<script>
  imgDanger.textContent = ""
  const MAX_IMAGE_SIZE = 2 * 1024 * 1024;
  const extensions = ["jpg", "jpeg", "png"];

  function ImageValidation(fileSize, extension) {
    let exists = extensions.some(ext => ext === extension);

    if (fileSize > MAX_IMAGE_SIZE) {
      return 'Please Upload Minimum Image...';
    }
    if (!exists) {
      return 'Please Choose Valid Image...';
    }
    return true;
  }

  imageInput.addEventListener("change", (event) => {
    let msg = ImageValidation(event.target.files[0].size, event.target.files[0].type.split("/")[1].trim())
    if (!(msg === true)) {
      imgDanger.textContent = msg
    } else {
      imgDanger.textContent = ""
    }
    myImg.setAttribute("src", URL.createObjectURL(event.target.files[0]))
  })
</script>